# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.env
.venv
venv/
ENV/
build/
dist/
*.egg-info/
.eggs/
.python-version

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
logs/
src/logs/

# macOS
.DS_Store
